* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {
    height: 130px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.nav-banner {
    display: flex;
    gap: 10px;
}

.nav-banner img {
    width: 85px;
    height: 35px;
    padding-top: 10px;
}

.nav-banner p {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.nav-banner p span {
    color: #ff1493;
}

.nav-img {
    height: 21px;
    width: 32px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-list {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 200px;
    height: 27px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}