* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {
    height: 130px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-banner {
    display: flex;
    gap: 10px;
}

.nav-banner img {
    width: 85px;
    height: 35px;
    padding-top: 10px;
}

.nav-banner p {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.nav-banner p span {
    color: #ff1493;
}

.nav-img {
    height: 21px;
    width: 32px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-list {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 200px;
    height: 27px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.banner-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    margin-top: 40px;
}

.banner-content {
    background-image: url('../images/Group\ 14.png');
    width: 100%;
    height: 700px;
    margin-top: 42px;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner-img {
    width: 80%;
}

.banner-content p img {
    width: 24px;
    height: 24px;

}

#banner-text {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    color: #c91fd8;
    text-transform: uppercase;
}

.banner-content div {
    margin: 150px auto;
    display: grid;
    flex-direction: column;
    justify-content: center;
}

.banner-item {
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-content .play-icon {
    position: relative;
    right: 68px;
}

.banner-content .download-icon {
    position: relative;
    right: 100px;
}

.btn-primary {
    padding: 15px 28px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0px;
    position: relative;
    bottom: 140px;
    right: 100px;
    color: #FFF;
    cursor: pointer;
}

.btn-secondary {
    padding: 15px 28px;
    border-radius: 48px;
    position: relative;
    bottom: 185px;
    left: 30px;
    background: #4EC5F7;
    border: 0px;
    color: #FFF;
    cursor: pointer;
}

.purpose-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 30px;
    margin-top: 81px;
    padding: 20px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.purpose-content {
    text-align: right;
}

.btn-more {
    padding: 15px 28px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0px;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.purpose-container h3 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    color: #c91fd8;
    margin-bottom: 10px;
}

.purpose-details {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.purpose-content p span {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}

.purpose-text {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}

.online-game-container {
    text-align: center;
    padding: 0px 240px;

}

.online-game-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.online-game-title span {
    color: #c91fd8;
    font-size: 48px;
    font-weight: 700;
}

.video-text {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 35px;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.game-text {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.one {
    position: relative;
    bottom: 270px;
    right: 440px;
}

.two {
    position: relative;
    bottom: 270px;
    right: 145px;
}

.three {
    position: relative;
    bottom: 270px;
    left: 150px;
}

.four {
    position: relative;
    bottom: 270px;
    left: 450px;
}

.play-video {
    width: 58px;
    height: 48px;
    cursor: pointer;
}

.game-list div:hover {
    height: auto;
    width: auto;
    opacity: 0.5;
    border-radius: 30px;
    position: relative;
    background-color: #000;

}

.watch-now {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #c91fd8;
    cursor: pointer;
}

.first-text {
    position: relative;
    bottom: 260px;
    right: 530px;
}

.second-text {
    position: relative;
    bottom: 280px;
    right: 175px;
}

.third-text {
    position: relative;
    bottom: 300px;
    left: 180px;
}

.fourth-text {
    position: relative;
    bottom: 320px;
    left: 550px;
}

.play-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    gap: 200px;
    margin: 20px;


}

.person-img {
    width: 400;
    height: 550px;
    border-radius: 8px;
}

.move-img {
    width: 250px;
    height: 250px;
    position: relative;
    right: 650px;
    top: 60px;
    border-radius: 8px;
}

.description {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: right;
}

.description span {
    color: #c91fd8;
}

.description-text {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

.careers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF42A5;
    margin-top: 100px;
}

.careers-container h3 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}

.careers-text {
    margin-bottom: 20px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.careers-details {
    display: flex;
    justify-content: space-between;
}

.careers-details .part-one {
    text-align: start;
    color: #FFF;
}

.careers-details .part-two {
    text-align: end;
    color: #FFF;
}

.careers-container button {
    border-radius: 48px;
    background: #FFF;
    padding: 21px 40px;
    border: 0px;
    margin-top: 20px;
    cursor: pointer;
}

.category-container div p {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.category-container div p:hover {
    border: 2px solid red;
    border-radius: 50px;
    background: #FFF;
    padding: 5px;
    color: #FF42A5;
    cursor: pointer;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 80px;
    width: 80%;
    margin: 70px auto;
}










/* media query for mobile devices */
@media screen and (max-width:576px) {

    .nav-container,
    ul,
    .banner-container {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        height: auto;
        justify-content: space-between;
        box-shadow: none;
    }

    .nav-banner {
        margin-top: 20%;
    }

    .banner-container img {
        width: 90%;
    }

    .banner-content {
        width: auto;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .purpose-container {
        flex-direction: column;
        width: auto;
    }

    .purpose-container img {
        width: 90%;
    }

    .purpose-content,
    .purpose-details,
    .purpose-text {
        text-align: center;
    }

    .purpose-content h3 {
        margin-right: 40px;
    }

    .online-game-container {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        width: 50%;
        text-align: center;
        margin-left: -170px;
    }

    .online-game-title {
        font-size: 28px;
        margin-left: -30px;
        white-space: nowrap;
    }

    .online-game-title span {
        font-size: 28px;
    }

    .game-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .game-text,
    .video-text {
        white-space: nowrap;
    }

    .video-text {
        position: relative;
        right: 100px;
    }

    .watch-now,
    .play-video {
        display: none;
    }

    .video-text {
        font-size: 12px;
        margin-left: 120px;
    }

    .play-container {
        flex-direction: column;
        width: auto;
        padding: 20px;
    }

    .description,
    .description-text {
        text-align: center;
    }

    .person-img {
        margin-top: -150px;
        width: 334.833px;
        height: 250px;
        margin-left: 80px;
    }

    .move-img {
        left: 40px;
        margin-top: -300px;
        width: 100px;
        height: 100px;
    }

    .careers-container {
        flex-direction: column;
        width: 90%;
        padding: 20px;
        grid-column: 10px;
    }

    .careers-container img {
        width: 334.833px;
        height: 250px;
    }

}

.category-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: -10px;
}
.category-container div{
    width: 50px;
    height: 25px;
    gap: 3px;
    
}

/* media query for tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
        margin: 30px auto;
        box-shadow: none;
        padding-left: 85px;
    }

    .banner-container {
        flex-direction: row-reverse;
        width: auto;
        display: block;
        padding-left: 10px;
    }

    .banner-container img {
        padding-left: 100px;
    }

    * {
        width: auto;
    }

    .banner-content {
        padding: 50px;
    }

    .banner-item {
        padding-right: 80px;
    }

    .purpose-container {
        flex-direction: column;
        flex-direction: column-reverse;
        margin-top: 190%;
        padding-left: 60px;

    }

    .purpose-container img {
        margin-left: 200px;
    }

    .purpose-content,
    .purpose-details,
    .purpose-text {
        text-align: center;
    }

    .purpose-content h3 {
        margin-right: 80px;
    }

    .online-game-container {
        display: flex;
        flex-direction: column;
        margin-top: 25%;
    }

    .watch-now,
    .play-video {
        display: none;
    }

    .game-list {
        grid-template-columns: repeat(2, 1fr);
        margin-left: -60px;
    }

    .online-game-title {
        white-space: nowrap;
    }

    .video-text {
        margin-left: 80px;
        white-space: nowrap;
    }

    .play-container {
        flex-direction: column;
        margin: -2px auto;
        margin-left: 100px;
    }

    .person-img {
        margin-top: -150px;
    }

    .move-img {
        margin-top: -400px;
        left: 350px;
    }

    .careers-container {
        flex-direction: column;
        width: 100%;
        margin-left: 60px;
        grid-column: 10px;
    }
    .category-container{
        margin-left: 70px;
    }

}